// Base Font Family
$base-font-family: 'SUIT Variable', sans-serif;

// color
$background-color: #000000;
$primary-color: #212121;
$gray-100: #e1e1e1;
$gray-200: #c4c4c4;
$gray-300: #a6a6a6;
$gray-400: #898989;
$gray-500: #6b6b6b;
$gray-600: #565656;
$gray-700: #404040;
$gray-800: #2b2b2b;
$brand-red: #ff153c;
$white: #ffffff;

$gnb-color: $gray-200;

// 브레이크 포인트
$mobile: 320px;
$tablet: 768px;
$desktop: 1920px;
