// Base Font Family
$base-font-family: "SUIT Variable", sans-serif;

// color
$background-color: #000000;
$primary-color: #212121;
$gnb-color: #C4C4C4;

// 브레이크 포인트
$mobile: 320px;
$tablet: 768px;
$desktop: 1920px;
