.wrapper {
  display: flex;
  padding-top: 125px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

a {
  color: #6b6b6b;
}

h2 {
  color: white;
  font-weight: 700;
  font-size: 37.897px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__user__id,
.main__user__password {
  background-color: #212121;
  display: flex;
  width: 732px;
  height: 96px;
  padding: 0px 454px 0px 24px;
  align-items: center;
  font-size: 28.43px;
  font-weight: 400;
  line-height: 160%;
  border-radius: 4px;
  margin-bottom: 15px;
  color: #565656;
}

.main__eyes {
  display: flex;
  .eyes {
    margin: -50px;
  }
}

.auto {
  display: inline-flex;
  a {
    color: #6b6b6b;
    margin-top: 6px;
  }
  padding-bottom: 32px;
}

.auto__checkbox {
  display: none;
}

.auto__image {
  display: flex;
  width: 26px;
  height: 26px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.auto__button {
  display: flex;
  width: 732px;
  height: 86px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #ff153c;
  font-size: 28.43px;
  font-weight: 600;
  line-height: 150%;
  color: white;
}

.find {
  display: flex;
  padding-top: 48px;
  justify-content: center;
}

.find__id,
.find__password,
.find__line {
  display: flex;
  width: 170px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  font-weight: bold;
}

.signUp {
  display: flex;
  justify-content: center;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  span {
    margin: 44px;
    color: #6b6b6b;
  }
  a {
    margin: 44px;
    font-weight: bold;
  }
}
