@use './../modules/' as *;
@use 'footer' as *;
@use './mainpages/banner' as *;


body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


h3 {
  font-size: 1.666rem;
  color: #fff;
  font-weight: 700;
  margin-top: 4.375rem;
}

.main_section {
  padding: 0 70px;
}

.contents {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;

  span,
  div {
    color: #d9d9d9
  }

  .swiper-wrapper {
    position: relative;
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .swiper-slide {
    flex: 0 0 auto;
    width: calc((100% - 30px) / 3);
    margin-right: 0.625rem;
    display: flex;
  }

  .swiper-slide>img {
    width: 100%;
    height: auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    color: #fff;
  }

  .swiper-button-prev {
    left: 20px;
  }

  .swiper-button-next {
    right: 20px;
  }

  @include desktop {
    .swiper-slide {
      width: calc((100% - 30px) / 2);
    }
  }

  @include tablet {
    .swiper-slide {
      width: calc((100% - 30px) / 1);
    }
  }

  @include mobile {
    .swiper-slide {
      width: 100%;
    }
  }
}

.mostContents__ul__li,
.quickView__ul__li {
  div {
    bottom: -30px;
    left: 0;
    position: absolute;
    margin-top: 0.625rem;
    color: #fff;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.popularLive__name,
.liveProgram__ul__info {
  position: absolute;
  bottom: -40px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;

  span {
    margin-left: 0.9375rem;
    margin-bottom: 0.625rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  img {
    height: 6vh;
    max-height: 6vh;
    max-width: 100%;
    width: auto;
    object-fit: contain;
  }
}

.liveProgram__ul__info {
  bottom: -5rem;
  text-align: left;
  align-items: start;

  .liveProgram__name {
    color: #d9d9d9;

    span {
      margin: 0;
      font-size: large;
      font-weight: 600;
    }

    div {
      font-size: 1rem;
      margin: 7px 0;
    }

    div:nth-child(2) {
      color: #a6a6a6;
    }

    div:last-child {
      color: #6b6b6b
    }

    margin-left: 0.625rem;
  }

}

.onlyTving {
  margin-top: 6.875rem;

  &__ul {
    margin-top: 1.25rem;
    display: flex;

  }
}

.ads {
  margin-top: 3.75rem;
  height: auto;
  width: 100%;

  @include desktop {
    height: auto; // 현재 상태 유지
  }

  @include tablet {
    height: 61px; // 태블릿에서는 높이를 61px로 설정
    width: auto; // 비율에 맞게 너비 설정
  }

  @include mobile {
    height: 30px; // 모바일에서는 높이를 30px로 설정
    width: auto; // 비율에 맞게 너비 설정
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.events {
  h3 {
    margin-top: 50px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 80%;
  }
}