@use './../modules/' as *;
@use 'footer' as *;
@use './mainpages/banner' as *;


body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main {
  h3 {
    font-size: 1.666rem;
    color: #fff;
    font-weight: 700;
    margin-top: 4.375rem;
  }
}

.main_section {
  padding: 0 70px;
}

.mainPopup {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #000;
  z-index: 500;




  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__buttons {
      display: flex;
      align-items: center;

      button {
        background-color: #000;
        width: 50%;
        height: 60px;
        font-size: larger;
        color: #fff;
      }

      hr {
        height: 25px;
        border-bottom-width: 1px;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      img {
        width: 586px;
        height: auto;
      }
    }
  }

  @include desktop {

    &__container,
    img {
      width: 586px;
      height: auto;
    }


  }

  @include tablet {

    &__container,
    img {
      width: 328px;
      height: auto;
    }

    button {
      font-size: small;
    }

  }

  @include mobile {

    &__container,
    img {
      width: 252px;
      height: auto;
    }

    button {
      font-size: small;
    }

  }
}

.contents {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;

  span,
  div {
    color: #d9d9d9
  }

  .swiper-wrapper {
    position: relative;
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .swiper-slide {
    flex: 0 0 auto;
    width: calc((100% - 30px) / 3);
    margin-right: 0.625rem;
    display: flex;
  }

  .swiper-slide>img {
    width: 100%;
    height: auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    color: #fff;
  }

  .swiper-button-prev {
    left: -50px;
  }

  .swiper-button-next {
    right: -50px;
  }

  @include desktop {
    .swiper-slide {
      width: calc((100% - 30px) / 2);
    }
  }

  @include tablet {
    .swiper-slide {
      width: calc((100% - 30px) / 1);
    }
  }

  @include mobile {
    .swiper-slide {
      width: 100%;
    }
  }
}

.mostContents__ul__li {
  @include mobile {
    div {
      display: none;
    }
  }
}

.mostContents__ul__li,
.quickView__ul__li {
  div {
    bottom: -30px;
    left: 0;
    position: absolute;
    margin-top: 0.625rem;
    color: #fff;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.quickView,
.liveProgram {

  .swiper-button-prev,
  .swiper-button-next {
    top: 40%;
  }
}


.popularLive__name,
.liveProgram__ul__info {
  position: absolute;
  bottom: -40px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;

  span {
    margin-left: 0.9375rem;
    margin-bottom: 0.625rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  img {
    height: 60px;
    width: auto;
  }

  @include desktop {
    img {
      height: 48px;
      width: auto;
    }
  }

  @include tablet {
    img {
      height: 30px;
      width: auto;
    }
  }

  @include mobile {
    img {
      height: 30px;
      width: auto;
    }
  }

}



.liveProgram__ul__info {
  bottom: -5rem;
  text-align: left;
  align-items: start;

  .liveProgram__name {
    color: #d9d9d9;

    span {
      margin: 0;
      font-size: large;
      font-weight: 600;
    }

    div {
      font-size: 1rem;
      margin: 7px 0;
    }

    div:nth-child(2) {
      color: #a6a6a6;
    }

    div:last-child {
      color: #6b6b6b
    }

    margin-left: 0.625rem;
  }

}

.onlyTving {
  margin-top: 6.875rem;

  &__ul {
    margin-top: 1.25rem;
    display: flex;

  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 45%;
  }
}

.ads {
  margin-top: 3.75rem;
  width: 100%;
  display: block;

  img {
    @include desktop {}

    @include tablet {
      height: 61px;
    }

    @include mobile {
      height: 30px;
    }
  }


  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.events {
  h3 {
    margin-top: 50px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 35%;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}