@use './../modules/' as *;

@mixin text-style($size, $lineHeight, $color, $weight: normal) {
  font-size: $size;
  line-height: $lineHeight;
  color: $color;
  font-weight: $weight;
}

@mixin large-text {
  @include text-style(3.15rem, 1.4, $white, bold);
}

@mixin medium-text {
  @include text-style(1.775rem, 1.5, $gray-400);
}

@mixin small-text {
  @include text-style(1.33125rem, 1.6, $gray-200);
}

@mixin xsmall-text {
  @include text-style(1rem, 1.5, $gray-200);
}

@mixin xsmall-text-white {
  @include text-style(1rem, 1.5, $white);
}

@mixin xxsmall-text {
  @include text-style(0.75rem, 1.6, $gray-400);
}

@mixin centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

.main__contents {
  height: 67.5rem;
  padding: 0;
  background-image: url('/assets/poster/landing_backgorund.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -12.5rem;

  @include respond($tablet) {
    height: 50rem;
  }

  @include respond($mobile) {
    height: 40rem;
  }
}

.originalContents {
  padding-top: 10rem;
  text-align: center;

  .contentTitle {
    @include large-text;
    padding-bottom: 1.25rem;

    @include respond($tablet) {
      @include small-text;
      padding-bottom: 0.5rem;
      font-weight: bold;
      color: $white;
    }
  }

  .contentServeTitle {
    @include medium-text;
    padding-bottom: 1.75rem;

    @include respond($tablet) {
      @include xxsmall-text;
      padding-bottom: 0.75rem;
    }
  }
}

.buttonContainer {
  @include centered-flex;
  width: 100%;
}

.contentButton {
  @include centered-flex;
  @include medium-text;
  width: 31.625rem;
  height: 5rem;
  border-radius: 0.25rem;
  background: $button-red;
  color: $white;

  @include respond($mobile) {
    width: 11.75rem;
  }

  @include respond($tablet) {
    width: 17.6875rem;
    height: 3rem;
    @include xsmall-text-white;
  }

  img {
    margin-bottom: 1.05rem;
    position: relative;
    right: 2.5rem;

    @include respond($tablet) {
      width: 2.25rem;
      margin-bottom: 0.4455rem;
      right: 1.5rem;
    }
  }
}

.main__section,
.main__animation,
.main__forLogin {
  text-align: center;

  .contentTitle {
    @include large-text;
    padding-bottom: 1.25rem;

    @include respond($tablet) {
      @include small-text;
      padding-bottom: 0.5rem;
      font-weight: bold;
      color: $white;
    }
  }

  .contentServeTitle {
    @include medium-text;
    padding-bottom: 0.5rem;

    @include respond($tablet) {
      color: $gray-200;
      @include xsmall-text;
    }
  }

  p {
    @include small-text;
    padding-bottom: 1.875rem;

    @include respond($tablet) {
      @include xxsmall-text;
      padding-bottom: 1.75rem;
    }
  }
}

.main__section {
  .mainImgs {
    display: flex;

    img {
      margin-left: 1.5rem;
    }

    @include respond($tablet) {
      display: none;
    }
  }

  .mainImgsMobile {
    display: none;

    img {
      margin-right: 0.75rem;
    }

    @include respond($tablet) {
      display: flex;
      width: 17.3125rem;
    }
  }
}

.main__animation {
  padding-top: 12.5rem;

  .imgFlow1,
  .imgFlow2 {
    display: flex;

    img {
      margin-left: 1.25rem;

      @include respond($tablet) {
        width: 11.25rem;
      }
    }
  }

  .imgFlow1 {
    margin-bottom: 0.75rem;
  }
}

.main__forLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 18.75rem;

  a img {
    padding-bottom: 2.25rem;

    @include respond($tablet) {
      width: 11.25rem;
      padding: 0.875rem;
    }
  }

  .contentTitle {
    @include large-text;
    padding-bottom: 2.25rem;

    @include respond($tablet) {
      @include small-text;
      padding-bottom: 0.875rem;
      font-weight: bold;
      color: $white;
    }
  }

  margin-bottom: 18.75rem;
}
