.main {
  display: flex;
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #6b6b6b;
}

.signup__title {
  color: #fff;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 28px;
}

.signup__span {
  color: #898989;
  text-align: center;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 26px;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;

  .signup__userId,
  .signup__userPw,
  .signup__userEmail {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 732px;
    height: 96px;
    padding-left: 24px;
    border-radius: 4px;
    background-color: #212121; //$primary-color
    color: #565656; //$gray-600
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 110%;
    margin-top: 34px;
    border: 1px solid black; //$background-color
  }
  p {
    font-size: 1.3rem;
    line-height: 160%;
  }
}

.signup__checkbox {
  width: 732px;
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 200%;

  .checkbox {
    display: none;
    margin-bottom: 12px;
  }

  .signup__checkbox1 {
    margin: 28px 0;
  }
}

.signup__checkbox__list {
  font-weight: 500;

  .signup__checkbox__list2 {
    margin: 0 0 36px 36px;
  }
}

.signup__button {
  width: 732px;
  height: 86px;
  border-radius: 4px;
  background: #404040;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 150%;
  color: #898989;
}
