.signup {
  display: flex;
  padding-top: 125px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #6b6b6b;
}

.signup__title {
  color: #fff;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 28px;
}

.signup__span {
  color: #898989;
  text-align: center;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 26px;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;

  input {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 732px;
    height: 96px;
    padding-left: 24px;
    border-radius: 4px;
    background-color: #212121;
    color: #565656;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 110%;
    margin-top: 34px;
    border: 1px solid black;
  }

  p {
    font-size: 1.3rem;
    line-height: 160%;
  }
}

.signup__checkbox {
  width: 732px;
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 200%;

  .signup__checkbox1,
  .signup__checkbox2,
  .signup__checkbox3 {
    line-height: 250%;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
  }

  .signup__checkbox1 input,
  .signup__checkbox2 input,
  .signup__checkbox3 input {
    display: none;
  }

  .signup__checkbox1 label,
  .signup__checkbox2 label,
  .signup__checkbox3 label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .signup__checkbox1 label:before,
  .signup__checkbox2 label:before,
  .signup__checkbox3 label:before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url('/src/assets/icon/Check-black.svg') no-repeat;
    margin-right: 8px;
  }

  .agree__checkbox:checked + label:before,
  .agree__checkbox1:checked + label:before,
  .agree__checkbox2:checked + label:before,
  .agree__checkbox3:checked + label:before {
    background: url('/src/assets/icon/check-red-nofilled.svg') no-repeat;
  }
}

.signup__checkbox__all {
  margin: 28px 0;
  display: flex;
  position: relative;
  align-items: center;

  .agree__checkbox {
    position: absolute;
    opacity: 0;
    z-index: 1;
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      width: 26px;
      height: 26px;
      background: url('/src/assets/icon/check.svg') no-repeat;
      margin-right: 8px;
    }
  }

  .agree__checkbox:checked + label:before {
    background: url('/src/assets/icon/checked.svg') no-repeat;
  }
}

.signup__button {
  width: 732px;
  height: 86px;
  border-radius: 4px;
  background: #404040;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 150%;
  color: #898989;
  margin-top: 20px;

  &.is--active {
    background: #e1e1e1;
    color: black;
  }
}

.signup__checkbox3 {
  padding-left: 50px;
}
