@use "./../modules/" as *;

// 헤더 전체
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  @include desktop {
    padding: 1.8125rem 4.375rem;
  }

  @include tablet {
    padding: 1rem 2.5rem;
  }

  @include mobile {
    padding: 0.71875rem 1rem;
  }
}

// 헤더 로고
.header__logo {
  @include desktop {
    padding-right: 3.25rem;
  }
  @include tablet {
    padding-right: 1.75rem;
  }
  @include mobile {
    padding-right: 1.75rem;
  }

  &__link {
    display: flex;

    @include desktop {
      background: url("/src/assets/header/logo/Desktop_logo.svg");
      width: 132px;
      height: 42px;
    }

    @include tablet {
      background: url("/src/assets/header/logo/Tablet_logo.svg");
      width: 75px;
      height: 24px;
    }

    @include mobile {
      background: url("/src/assets/header/logo/Mobile_logo.svg");
      width: 45px;
      height: 15px;
    }
  }
}

// 헤더 메뉴와 검색, 프로필
.header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  // 내부 메뉴
  &__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: $gnb-color;

    @include desktop {
      gap: 52px;
      font-size: 21px;
    }
    @include tablet {
      gap: 28px;
      font-size: 12px;
    }
    @include mobile {
      gap: 28px;
      font-size: 12px;
    }

    // 실시간
    .nav__live {
      display: flex;
      align-items: center;

      @include desktop {
        gap: 10px;

        .live__img {
          background: url("/src/assets/header/Menu/Desktop_live.svg") no-repeat;
          width: 34px;
          height: 34px;
        }
      }

      @include tablet {
        gap: 4px;

        .live__img {
          background: url("/src/assets/header/Menu/Tablet_live.svg") no-repeat;
          width: 20px;
          height: 20px;
        }
      }

      @include mobile {
        gap: 4px;

        .live__img {
          background: url("/src/assets/header/Menu/Tablet_live.svg") no-repeat;
          width: 20px;
          height: 20px;
        }
      }
    }

    // 파라마운트
    .paramount__img {
      @include desktop {
        background: url("/src/assets/header/Menu/Desktop-paramount.svg")
          no-repeat;
        width: 111.917px;
        height: 34px;
        padding: 4.958px 0.006px 3.54px 1.422px;
      }
      @include tablet {
        background: url("/src/assets/header/Menu/Tablet-paramount.svg")
          no-repeat;
        width: 65px;
        height: 20px;
        padding: 2.001px 0px 2.999px 0px;
      }
    }
  }

  &__add {
    display: flex;
    flex-flow: row nowrap;

    @include desktop {
      gap: 40px;
      button {
        width: 40px;
        height: 40px;
      }
      .nav__search {
        background: url("/src/assets/header/Menu/Desktop-search.svg") no-repeat;
      }
      .nav__profile {
        background: url("/src/assets/header/Menu/Desktop-gnb-profile.svg")
          no-repeat;
      }
    }

    @include tablet {
      gap: 20px;
      button {
        width: 24px;
        height: 24px;
      }
      .nav__search {
        background: url("/src/assets/header/Menu/Tablet-search.svg") no-repeat;
      }
      .nav__profile {
        background: url("/src/assets/header/Menu/Tablet-gnb-profile.svg")
          no-repeat;
      }
    }

    @include mobile {
      gap: 16px;
      button {
        width: 18px;
        height: 18px;
      }
      .nav__search {
        background: url("/src/assets/header/Menu/Mobile-search.svg") no-repeat;
      }
      .nav__profile {
        background: url("/src/assets/header/Menu/Mobile-gnb-profile.svg")
          no-repeat;
      }
    }
  }
}
