@use "./../modules/" as *;

body {
  width: 100vw;
  overflow-x: hidden;
}

main,
footer {
  padding: 0 4.375rem;
}

.banner {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }

  // 배너 블러 효과
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }

  @include desktop {
    margin-top: 6.25rem;
  }

  @include tablet {
    margin-top: 3.5rem;
  }

  @include mobile {
    margin-top: 2.6875rem;
  }
}


.contentsName {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
}

.mostContents,
.quickView,
.liveProgram,
.popularLive,
.onlyTving,
.ads,
.events,
.footer {

  color: #fff;
  font-weight: 400;

  h3 {
    font-size: 1.666rem;
    color: #fff;
    font-weight: 700;
    margin-top: 3.75rem;
  }


  ul {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 0.9375rem;

    h3 {
      font-size: 1.125rem;
      margin-top: 0.625rem;
      color: $gnb-color;
      font-weight: 500;
    }
  }
}


.mostContents__ul {
  div {
    color: $gnb-color;
    margin-top: 0.625rem;
  }
}


.vod__chapter {
  margin-top: 0.3125rem;
  color: grey;
}


.popularLive {
  &__ul {
    position: relative;
  }

  li {
    width: 100%;
    max-width: 240px;
    min-width: 180px;
    display: flex;
    flex-flow: column nowrap;

    div {
      // 네이밍 해두기!!
      width: 100%;
      display: flex;
      align-items: end;
      text-align: center;
      flex: 0 0 auto;

      img {
        // 숫자 이미지
        height: 6vh;
        flex: 0 0 auto;
      }

      span {
        flex: 1 1 auto;
        margin-left: 0.9375rem;
        padding-bottom: 0.1875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.liveProgram__ul {

  .liveProgram__ul__info {
    display: flex;
    margin-top: 0.625rem;

    div {
      display: block;
      margin-left: 0.9375rem;

      h3 {
        margin: 0 0 0 0.9375rem;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 0.625rem;
      }

      div {
        color: $gnb-color;
        margin-bottom: 0.625rem;
      }
    }

    img {
      height: 7vh;
    }
  }
}

.ads {
  margin-top: 3.75rem;
}

.footer {
  margin-top: 9.375rem;
  color: gray;
  font-weight: 200;

  .util__div {
    display: flex;
    justify-content: space-between;

    div {
      display: inherit;

      p {
        margin-right: 0.9375rem;
      }

      a {
        color: #fff;
      }
    }
  }

  .goto {
    hr {
      border-bottom-width: 1px;
      border-top-width: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    div {
      margin: 0 0.9375rem;
      color: #fff;
    }
  }

  .info {
    margin-top: 3.125rem;

    .info__link {
      color: #fff;

      span {
        margin-right: 1.25rem;
      }
    }

    .info__adress {
      margin-top: 1.875rem;

      span {
        margin-right: 0.625rem;
      }

      p {
        margin: 0.625rem 0;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  .community {
    margin: 1.875rem 0;
  }
}