@charset "UTF-8";
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

body {
  font-family: "SUIT Variable", sans-serif;
  line-height: 1.15;
  margin: 0;
}

/* 숨김 콘텐츠 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}

/* 스타일 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  font-size: 1em;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  padding-inline-start: 0;
  margin: 0;
}

fieldset,
button {
  border: 0;
  margin: 0;
  padding: 0;
}

p,
figure {
  margin: 0;
}

input,
textarea,
select,
option,
button {
  font: inherit;
}

img {
  max-width: 100%;
}

.profile__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media (min-width: 1920px) {
  .profile__wrapper {
    margin-top: 100px;
    padding: 130px 0;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .profile__wrapper {
    margin-top: 56px;
    padding-top: 74px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .profile__wrapper {
    margin-top: 38px;
    padding-top: 44px;
  }
}
.profile__image__link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
@media (min-width: 1920px) {
  .profile__image__link {
    gap: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .profile__image__link {
    gap: 12px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .profile__image__link {
    gap: 12px;
  }
}
.profile__button__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.profile__button__edit {
  border-radius: 4px;
  border: 1px solid #565656;
  background-color: transparent;
  color: #a6a6a6;
  cursor: pointer;
}
@media (min-width: 1920px) {
  .profile__button__edit {
    width: 272px;
    height: 86px;
    font-size: 28.43px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .profile__button__edit {
    width: 156px;
    height: 50px;
    font-size: 12.003px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .profile__button__edit {
    width: 135px;
    height: auto;
    font-size: 12.003px;
    padding: 12px 0px;
  }
}

.profile__title {
  color: #ffffff;
}
.profile__title__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .profile__title__wrapper {
    padding-top: 28px;
    gap: 16px;
  }
}
@media (min-width: 1920px) {
  .profile__title {
    font-weight: 700;
    font-size: 51px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .profile__title {
    font-size: 28.43px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .profile__title {
    font-size: 16px;
    font-weight: 700;
  }
}
.profile__title__sub {
  color: #c4c4c4;
}
@media (min-width: 1920px) {
  .profile__title__sub {
    font-size: 28.43px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .profile__title__sub {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .profile__title__sub {
    font-size: 12.003px;
  }
}

.profile__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (min-width: 1920px) {
  .profile__list {
    padding: 44px 0;
    gap: 52px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .profile__list {
    padding: 28px 0 44px 0;
    gap: 32px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .profile__list {
    padding: 32px 0;
    gap: 24px;
  }
}

.link__container {
  position: relative;
}
.link__container .link__lock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1920px) {
  .link__container .link__lock {
    background: url(/src/assets/profile/Desktop-lock.svg);
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .link__container .link__lock {
    background: url(/src/assets/profile/Mobile&Tablet-lock.svg);
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .link__container .link__lock {
    background: url(/src/assets/profile/Mobile&Tablet-lock.svg);
    width: 50px;
    height: 50px;
  }
}
.link__seulbi {
  opacity: 50%;
}
@media (min-width: 1920px) {
  .link__seulbi {
    width: 234px;
    height: 234px;
    background: url("/src/assets/profile/Desktop-seulbi.svg");
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .link__seulbi {
    width: 132px;
    height: 132px;
    background: url("/src/assets/profile/Tablet-seulbi.svg");
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .link__seulbi {
    width: 114px;
    height: 114px;
    background: url("/src/assets/profile/Mobile-seulbi.svg");
  }
}
.link__beom {
  opacity: 50%;
}
@media (min-width: 1920px) {
  .link__beom {
    width: 234px;
    height: 234px;
    background: url("/src/assets/profile/Desktop-beom.svg");
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .link__beom {
    width: 132px;
    height: 132px;
    background: url("/src/assets/profile/Tablet-beom.svg");
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .link__beom {
    width: 114px;
    height: 114px;
    background: url("/src/assets/profile/Mobile-beom.svg");
  }
}
.link__yamoo {
  opacity: 50%;
}
@media (min-width: 1920px) {
  .link__yamoo {
    width: 234px;
    height: 234px;
    background: url("/src/assets/profile/Desktop-yamoo.svg");
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .link__yamoo {
    width: 132px;
    height: 132px;
    background: url("/src/assets/profile/Tablet-yamoo.svg");
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .link__yamoo {
    width: 114px;
    height: 114px;
    background: url("/src/assets/profile/Mobile-yamoo.svg");
  }
}
.link__euid {
  opacity: 50%;
}
@media (min-width: 1920px) {
  .link__euid {
    width: 234px;
    height: 234px;
    background: url("/src/assets/profile/Desktop-euid.svg");
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .link__euid {
    width: 132px;
    height: 132px;
    background: url("/src/assets/profile/Tablet-euid.svg");
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .link__euid {
    width: 114px;
    height: 114px;
    background: url("/src/assets/profile/Mobile-euid.svg");
  }
}
.link__image__name {
  text-align: center;
  color: #a6a6a6;
}
@media (min-width: 1920px) {
  .link__image__name {
    font-size: 28.43px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .link__image__name {
    font-size: 12.003px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .link__image__name {
    font-size: 12.003px;
  }
}