@use './../../modules/' as *;

.banner {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: 3;
  }

  .swiper-wrapper {
    position: relative;
    z-index: 0;
    /* ::after 요소가 이미지 위에 위치하도록 조정 */
  }

  @include desktop {
    margin-top: 6.25rem;
  }

  @include tablet {
    margin-top: 3.5rem;
  }

  @include mobile {
    margin-top: 2.6875rem;
  }
}